<div class="card">
  <div class="header">
    {{#block 'header'}}
    {{/block}}
  </div>
  <div class="body">
    {{#block 'body'}}
    {{/block}}
  </div>
  <div class="footer">
    {{#block 'footer'}}
    {{/block}}
  </div>
</div>
