<div class="band" data-background={{background}}>
  <div class="band--header">
    {{#block 'header'}}
    {{/block}}
  </div>
  <div class="band--body" data-layout="{{layout}}">
    {{#block 'body'}}
    {{/block}}
  </div>
  <div class="band--footer">
    {{#block 'footer'}}
    {{/block}}
  </div>
</div>
