<div class="band">
  <div class="header">
    {{#block 'header'}}
    {{/block}}
  </div>
  <div class="body" data-layout="{{layout}}">
    {{#block 'body'}}
    {{/block}}
  </div>
  <div class="footer">
    {{#block 'footer'}}
    {{/block}}
  </div>
</div>
