<div class="video-embed">
  <div class="video-embed--container">
    <div class="video-embed--iframe">
      {{src}}
    </div>
  </div>
  <div class="video-embed--details">
    <h2 class="video-embed--title">{{title}}</h2>
    <p class="video-embed--description">{{description}}</p>
  </div>
</div>
