<div class="video-embed" data-align="bleed">
  <div class="video-embed--container">
    <div class="video-embed--iframe">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/rhSZ717QD2Q" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="video-embed--details">
    <h2 class="video-embed--title">Flexbox in the Wild</h2>
    <p class="video-embed--description">In this episode I talk about flexbox and talk about some practical applications.</p>
  </div>
</div>
