/// Returns a button with proper styles
/// @access public
/// @param {String} $btn-color [red] Background color of the button
/// @param {String} $btn-text-color [white] Text color of the button
/// @param {Boolean} $disabled [false] If button is disabled
/// @example Button Mixin
///     @include make-button(black, gray2, true);

@mixin make-button($btn-color: red, $btn-text-color: white, $disabled: false) {
  display: inline-block;
  background-color: color($btn-color);
  color: color($btn-text-color);
  border: none; // this fixes buttons elements with this style
  font-size: pem(16);
  padding: pem(9) pem(40);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  @if $disabled == true {
    pointer-events: none;
    cursor: default;
    &:hover {
      background-color: color($btn-color);
      color: color($btn-text-color);
      text-decoration: none;
    }
  }
  @else {
    transition: background 0.2s ease-in 0s;
    cursor: pointer;
    &:hover {
      background-color: darken($btn-color, 6%);
      color: color($btn-text-color);
      text-decoration: none;
    }
  }
}
