@mixin make-button($btn-color: color(red), $btn-text-color: color(white), $disabled: false) {
    background-color: $btn-color;
    color: $btn-text-color;
    display: inline-block;
    font-family: $base-font-family;
    border: none; // this fixes buttons elements with this style
    font-size: pem(16);
    padding: pem(9) pem(40);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    @if $disabled != disabled {
        transition: background 0.2s ease-in 0s;
        cursor: pointer;
        &:hover {
            background-color: darken($btn-color, 6%);
            color: $btn-text-color;
            text-decoration: none;
        }
    }
    @if $disabled == true {
        pointer-events: none;
        cursor: default;
        &:hover {
            background-color: $btn-color;
            color: $btn-text-color;
            text-decoration: none;
        }
    }
}
