/// Base Font Size
$base-font-px: 16;

/// Base Font Family
$base-font-family: "Overpass", Overpass, Helvetica, helvetica,  arial, sans-serif;

/// Site Color Map
$colors: (
  white: #FFFFFF,
  red: #C00,
  black: #252527,
  rich-black: #1A1A1A,
  copy: #646464,
  link: #08C0FC,
  gray1: #D2D3D5, // disabled button gray
  gray2: #F0F0F0, // band background gray
  gray3: #8A8A8A, // light gray for text on black
 );


// Spacing Variables
$box-padding: 30px;
$vertical-gutter: 30px;
$band-padding: 60px;
$gutter: $box-padding/2;