$base-font-px: 16;

// Base Font Family
$base-font-family: "Overpass", Overpass, Helvetica, helvetica,  arial, sans-serif;

$colors: (
  white: #ffffff,
  red: #C00,
  black: #252527,
  rich-black: #1a1a1a,
  copy: #646464,
  link: #08C0FC,
  gray1: #d2d3d5, // disabled button gray
  gray2: #f0f0f0, // band background gray
  gray3: #8a8a8a, // light gray for text on black
 );


// Spacing Variables
$box-padding: 30px;
$vertical-gutter: 30px;
$band-padding: 60px;
$gutter: $box-padding/2;