/// Bleeding Container Top
/// Bleeds a container out and up to fill the card it is within
%bleeding-container-top {
  margin-top: -$box-padding;
  margin-left: -$box-padding;
  margin-right: -$box-padding;
}

/// Bleeding Container
/// Bleeds a container out fill the card it is within
%bleeding-container {
  margin-left: -$box-padding;
  margin-right: -$box-padding;
}

/// Vertical Containers
/// Gives bottom margins to all contained children except for the last one
%vertical-containers {
  > *:not(:last-child) {
    margin-bottom: $vertical-gutter;
  }
}
